<app-loader [load]="show"></app-loader>
<div class="container">
  <div class="page page-contact">
    <div class="blue-title">
      <h5>Contáctenos</h5>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 content-form">
        <form class="row" [formGroup]="form" (ngSubmit)="save($event)">
          <div class="col-xs-12 col-sm-6 form-group">
            <input placeholder="Nombre" name="Name" formControlName="name">
            <span></span>
          </div>
          <div class="col-xs-12 col-sm-5 form-group">
            <input placeholder="Teléfono" type="tel" name="Phone" formControlName="phone">
            <span></span>
          </div>
          <div class="col-xs-12 form-group">
            <input placeholder="Correo" type="email" name="Email" formControlName="email">
            <span></span>
          </div>
          <div class="col-xs-12 form-group">
            <textarea placeholder="Mensaje" name="Msn" cols="25" formControlName="msn"></textarea>
            <span></span>
          </div>
          <div class="col-xs-12">
            <br>
            <button class="btn btn-white" type="submit" [disabled]="!form.valid">Enviar</button>
          </div>
          <h4 class="message-send" *ngIf="showMessage">Mensaje enviado correctamente</h4>
       </form>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="content-info">
          <h4>Oficinas</h4>
          <p>Av Cra 7 114 60 CC Hacienda Santa Bárbara Zn D Of D 401 B. Bogotá D.C</p>
          <p>Bogotá D.C</p>
          <hr>
          <p>Cra 21 N° 8-45</p>
          <p>Duitama - Boyacá</p>
          <h4>Planta</h4>
          <p>Av. las américas 20 - 60</p>
          <p>Duitama - Boyacá</p>
          <h4>Teléfonos</h4>
          <p>(+57) (8) 7631252-7631254</p>
          <p>(+57) 3124804407</p>
          <h4>Correo</h4>
          <p>
            <a href="mailto:astgerencia@industriasexplorer.com">astgerencia@industriasexplorer.com</a>
          </p>
          <p>
            <a href="mailto:astadministrativa@industriasexplorer.com">astadministrativa@industriasexplorer.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
