<div class="banner-page">
  <img
    src="../../../../assets/images/banners/banner-institutional-1.jpg"
    alt=""
  />
</div>
<div class="container">
  <div class="page page-contact">
    <div class="blue-title">
      <h5>Contáctenos</h5>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 content-form">
        <form class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <input matInput placeholder="Nombre" #nombre maxlength="80" name="Name" required>
            <span></span>
          </div>
          <div class="col-xs-12 col-sm-5 form-group">
            <input matInput placeholder="Teléfono" #tel type="tel" name="Phone" maxlength="16">
            <span></span>
          </div>
          <div class="col-xs-12 form-group">
            <input matInput placeholder="Correo" type="email" name="Email" required>
            <span></span>
          </div>
          <div class="col-xs-12 form-group">
            <textarea matInput placeholder="Mensaje" #msn maxlength="300" name="Msn" cols="25"></textarea>
            <span></span>
          </div>
          <div class="col-xs-12">
            <br>
            <a class="btn btn-white">Enviar</a>
          </div>

       </form>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="content-info">
          <h4>Planta</h4>
          <p>Av. las américas 20 - 60</p>
          <p>Duitama - Boyacá</p>
          <h4>Teléfonos</h4>
          <p>(57) 8-7631252</p>
          <p>8-7631254</p>
          <p>8-77602661</p>
          <h4>Correo</h4>
          <p>
            <a href="mailto:gerencia@industriasexplorer.com">gerencia@industriasexplorer.com</a>
          </p>
          <p>
            <a href="mailto:secretaria@industriasexplorer.com">secretaria@industriasexplorer.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
