<div class="banner-page">
  <img
    src="../../../../assets/images/banners/banner-institutional-1.jpg"
    alt=""
  />
</div>
<section class="lg-container">
  <div class="row alquiler-page">
    <aside class="col-xs-10 col-sm-3" *ngIf="categories">
      <h3>Filtros</h3>
      <ul class="aside-menu" *ngFor="let category of categories">
        <li [ngClass]="{'open': category.statusClass}">
          <p (click)="category.subcategories && category.subcategories.length > 0 ? open(category) : filter(category.id, undefined)">{{category.name}}</p>
          <div *ngIf="category.subcategories">
            <div class="aside-sub-menu" *ngFor="let subCategory of category.subcategories">
              <div class="item" (click)="filter(subCategory.id, undefined)" >{{subCategory.name}}</div>
            </div>
          </div>
        </li>
      </ul>
      <h3><a (click)="filter(undefined, true)"> Disponible </a></h3>
      <h3><a (click)="filter(undefined, undefined)"> Ver todos </a></h3>
    </aside>
    <div class="col-xs-12 col-sm-9 row">
      <div class="blue-title">
        <h5>Transformadores en Alquiler</h5>
      </div>
      <div class="col-xs-12 content-items-alquiler row">
        <div class="col-xs-12 col-sm-6 col-lg-4 item-alquiler" *ngFor="let product of products">
          <div class="item-alquiler-img">
            <img
              src="../../../../assets/images/products/transformador.png"
              alt="Transformador"
            />
            <span class="product-available" *ngIf="product.available">Disponible</span>
          </div>
          <div class="item-alquiler-data row top-xs center-xs start-sm">
            <div class="col-xs-12 col-sm-4">
              <img
                src="../../../../assets/images/icons/icon-transformador.svg"
                alt="icon-transformador"
              />
            </div>
            <div class="col-xs-12 col-sm-8 text-data-item-alquiler">
              <h4>{{ product.title }}</h4>
              <p>{{ product.characteristicOne }}</p>
              <p>{{ product.type }}</p>
              <a routerLink="{{product.slug }}" class="btn btn-white">Ver</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
