<section class="lg-container">
  <div class="row alquiler-page">
    <aside class="col-xs-12 col-sm-3">
      <h3>Filtros</h3>
      <ul>
        <li>Potencia</li>
        <li>Voltaje</li>
        <li>
          Cambiador
          <div class="sub-menu">
            <div class="item">Bajo Carga</div>
            <div class="item">Sin Carga</div>
            <div class="item">Ninguno</div>
          </div>
        </li>
        <li>Impedancia</li>
        <li>Grupo de conxión</li>
      </ul>
      <h3>Disponible</h3>
      <h3>Ver todos</h3>
    </aside>
    <div class="col-xs-12 col-sm-9 row">
      <div class="blue-title">
        <h5>Transformadores en Alquiler</h5>
      </div>
      <div class="col-xs-12 content-items-alquiler row">
        <div class="col-xs-12 col-sm-6 col-lg-4 item-alquiler">
          <div class="item-alquiler-img">
            <img
              src="../../../../assets/images/products/transformador.png"
              alt="Transformador"
            />
            <span *ngIf="disponible">Disponible</span>
          </div>
          <div class="item-alquiler-data row top-xs center-xs start-sm">
            <div class="col-xs-12 col-sm-4">
              <img
                src="../../../../assets/images/icons/icon-transformador.svg"
                alt="icon-transformador"
              />
            </div>
            <div class="col-xs-12 col-sm-8 text-data-item-alquiler">
              <h4>Transformador</h4>
              <p>Potencia 70 MVA</p>
              <p>OLTC</p>
              <a href="#" class="btn btn-white">Ver</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 item-alquiler">
          <div class="item-alquiler-img">
            <img
              src="../../../../assets/images/products/transformador.png"
              alt="Transformador"
            />
            <span *ngIf="disponible2">Disponible</span>
          </div>
          <div class="item-alquiler-data row top-xs center-xs start-sm">
            <div class="col-xs-12 col-sm-4">
              <img
                src="../../../../assets/images/icons/icon-transformador.svg"
                alt="icon-transformador"
              />
            </div>
            <div class="col-xs-12 col-sm-8 text-data-item-alquiler">
              <h4>Transformador</h4>
              <p>Potencia 70 MVA</p>
              <p>OLTC</p>
              <a href="#" class="btn btn-white">Ver</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 item-alquiler">
          <div class="item-alquiler-img">
            <img
              src="../../../../assets/images/products/transformador.png"
              alt="Transformador"
            />
            <span *ngIf="disponible3">Disponible</span>
          </div>
          <div class="item-alquiler-data row top-xs center-xs start-sm">
            <div class="col-xs-12 col-sm-4">
              <img
                src="../../../../assets/images/icons/icon-transformador.svg"
                alt="icon-transformador"
              />
            </div>
            <div class="col-xs-12 col-sm-8 text-data-item-alquiler">
              <h4>Transformador</h4>
              <p>Potencia 70 MVA</p>
              <p>OLTC</p>
              <a href="#" class="btn btn-white">Ver</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
