@import '../../../../vars';
:host {
  .alquiler-page {
    margin: 80px 0 50px;
    padding: 0 15px;
    aside {
      margin: 0 auto 15px;
      width: 100%;
      h3 {
        text-transform: uppercase;
        position: relative;
        padding: 15px 0;
        color: $black2;
        a{
          color: $black2;
        }
        &::after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          bottom: 0;
          height: 1px;
          background-color: $black2;
        }
        &:nth-child(2n-1) {
          &::before{
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            height: 1px;
            background-color: $black2;
          }
        }
        &:last-child{
          &::after{
            background: none;
          }
        }
        &:first-child{
          &::before{
            background: none;
          }
        }
      }
      .aside-menu{
        width: 95%;
        li{
          cursor: pointer;
          max-height: 22px;
          overflow: hidden;
          transition: max-height 0.3s;
          padding: 3px 0 3px 6px;
          position: relative;
          p {
            width: 100%;
            &::after {
              content: '►';
              color: $gray;
              position: absolute;
              right: 0;
              transition: all 0.3s;
              top: 4px;

            }
          }
          .aside-sub-menu{
            padding: 8px 15px 5px;
            .item {
              padding: 3px 0;
              &.active{
                font-weight: 700;
              }
            }
          }
          &.open{
            max-height: 300px;
            p {
              color: $blue;
              &::after {
                transform: rotate(90deg);
                color: $blue;
              }
            }
          }
        }
      }
    }
    .blue-title {
      padding-left: 5px;
    }
    .content-items-alquiler {
      margin: 30px 0;
      .item-alquiler {
        padding-right: 10px;
        .item-alquiler-img {
          box-shadow: $shadow;
          margin: auto;
          max-width: 270px;
          max-height: 270px;
          padding: 10px;
          position: relative;
          span {
            background-color: $yellow;
            color: $black2;
            left: 20px;
            top: 20px;
            padding: 2px 5px;
            position: absolute;
          }
          img {
            display: block;
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }
        .item-alquiler-data {
          max-width: 270px;
          margin: 30px auto;
          img {
            max-width: 100%;
            padding: 15px 0;
          }
          .text-data-item-alquiler {
            padding-bottom: 15px;
            h4 {
              color: $blue;
              font-size: 16px;
              text-transform: uppercase;
            }
            a {
              transform: translateY(-15px);
              display: inline-block;
            }
          }
        }
      }
    }
    @include for-tablet-landscape-up {
      margin-bottom: 0;
      aside {
        padding-left: 4%;
        padding-right: 30px;
      }
      .content-items-alquiler {
        padding-right: 4%;
        .item-alquiler {
          .item-alquiler-img {
            margin: initial;
            max-width: 300px;
            max-height: 300px;
          }
          .item-alquiler-data {
            margin: 30px 0;
            max-width: 320px;
            padding: 0 15px;
            .text-data-item-alquiler {
              padding-left: 15px;
            }
          }
        }
      }
    }
    @include for-big-desktop-up {
      .content-items-alquiler {
        padding-right: 15%;
      }
    }
  }
}
