<section class="container">
  <div class="page">
    <div class="tabset">
      <!-- Tab 1 -->
      <input type="radio" focused name="tabset" id="tab1" aria-controls="tab-1" checked>
      <label for="tab1">Misión</label>
      <!-- Tab 2 -->
      <input type="radio" name="tabset" id="tab2" aria-controls="tab-2">
      <label for="tab2">Visión</label>
      <!-- Tab 3 -->
      <input type="radio" name="tabset" id="tab3" aria-controls="tab-3">
      <label for="tab3">Plan Estratégico</label>
      
      <div class="tab-panels">
        <section id="tab-1" class="tab-panel">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero laudantium cupiditate eaque exercitationem ex voluptatum quo, pariatur ratione iste ad rerum tempora quis numquam similique in tempore, alias est excepturi.</p>
      </section>
        <section id="tab-2" class="tab-panel">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ipsa, doloribus dolorem similique iure, autem suscipit ducimus error ea, ab necessitatibus ex! Quidem ea voluptate eveniet ut eaque necessitatibus nihil?</p>
        </section>
        <section id="tab-3" class="tab-panel">
          <p>Somos una empresa colombiana con más de 45 años de experiencia en el
            sector eléctrico a nivel nacional e internacional brindando soluciones
            eficientes en las áreas de mantenimiento, reparación, repotenciación y
            rediseño de transformadores y autotransformadores con características
            nominales hasta 100 MVA y 230 kV, cumpliendo con los estándares
            nacionales e internacionales de calidad y servicio.</p>
          <blockquote>Contamos con la mejor tecnología de la industria, la infraestructura necesaria y el personal idóneo para brindarle siempre el mejor servicio</blockquote>
        </section>
      </div>
      
    </div>
  </div>
</section>
