@import '../../../../vars';

.tabset {
  > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }

  .tab-panel {
    display: none;
  }

  > input {
    &:first-child:checked ~ .tab-panels > .tab-panel:first-child, &:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2), &:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3), &:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4), &:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5), &:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
      display: block;
    }
  }
}

.tabset > {
  label {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 4px 2px;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    min-width: 100px;
    text-align: center;
    background-color: #e2e2e2;
    color: #636363;
    font-size: 16px;
    &:hover {
      color: $blue;
    }
  }

  input:focus + label, input:checked + label{
    color: $blue;
    background-color: $blue;
    color: #ffffff;
  }

  label:hover::after {
    background: $blue;
  }

  input {
    &:focus + label::after {
      background: $blue;
    }

    &:checked + label {
      &::after {
        background: $blue;
      }
      margin-bottom: -1px;
    }
  }
}

.tab-panel {
  padding: 30px 0;
  background-color: #f1f1f1;
}
