<app-loader [load]="!historyModel"></app-loader>
<div *ngIf="historyModel">
  <section class="container" >
    <div class="page" [innerHTML]="historyModel.mainContent"></div>
  </section>
  <div class="banner-parallax" [ngStyle]="{background: 'url('+historyModel.imageParallax + ')'}"></div>
  <section class="container">
    <div class="page">
      <p [innerHTML]="historyModel.content1"></p>
    </div>
  </section>
  <div class="banner-parallax" *ngIf="historyModel.imageParallax2"
       [ngStyle]="{background: 'url('+historyModel.imageParallax2 + ')'}"></div>
  <section class="container" *ngIf="historyModel.content2">
    <div class="page">
      <p [innerHTML]="historyModel.content2"></p>
    </div>
  </section>
</div>
