<app-loader [load]="!certificationModel"></app-loader>
<div *ngIf="certificationModel">
  <section class="container" >
    <div class="page" [innerHTML]="certificationModel.mainContent"></div>
  </section>
  <div class="banner-parallax" [ngStyle]="{background: 'url('+certificationModel.imageParallax + ')'}"></div>
  <section class="container">
    <div class="page">
      <p [innerHTML]="certificationModel.content1"></p>
    </div>
  </section>
  <div class="banner-parallax" *ngIf="certificationModel.imageParallax2"
       [ngStyle]="{background: 'url('+certificationModel.imageParallax2 + ')'}"></div>
  <section class="container" *ngIf="certificationModel.content2">
    <div class="page">
      <p [innerHTML]="certificationModel.content2"></p>
    </div>
  </section>
</div>
