<section class="container">
  <div class="page">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis minus at, aliquid amet similique numquam dolores ducimus itaque debitis ea assumenda praesentium magnam corrupti blanditiis tempore sint aliquam officiis. Dolores.
      Sint numquam cumque temporibus non distinctio obcaecati ab quae est minus? Provident sint, error sed sunt dolorem neque beatae ipsam molestias assumenda dolores qui? Impedit voluptatum inventore ratione animi ipsa!
    </p>
  </div>
</section>
<div class="banner-parallax" [ngStyle]="{background: 'url(../../../../assets/images/parallax/historia-1.png)'}"></div>
<section class="container">
  <div class="page">
    <p>
      <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime velit tenetur dolore dolorem earum doloremque iure repellat aliquid, sequi voluptatum. Odit est, assumenda sunt fugit soluta expedita harum nobis amet.</span>
      <span>Esse mollitia fugit nisi dicta sint ex perferendis facere aut iusto saepe temporibus ratione amet ipsa obcaecati, vero facilis quo ducimus culpa neque fugiat nemo incidunt nobis error doloribus! Quidem.</span>
      <span>Quidem est molestias porro animi ratione saepe dolor vitae dolorum corporis architecto! Laudantium eveniet tenetur, quod nostrum cum accusantium ut labore laborum adipisci, exercitationem nemo, qui debitis quo consequuntur tempora.</span>
      <span>Deserunt autem nam accusamus quam molestiae itaque quod cum excepturi veritatis. Harum amet sunt blanditiis sit quidem, voluptate fuga, quasi itaque obcaecati laboriosam enim? Officia ipsa quae accusamus nesciunt illum!</span>
      <span>Ea quia nemo suscipit, placeat veniam distinctio consequatur fuga libero omnis quasi, ullam, cum iste rerum? Itaque commodi corporis odit libero aliquid ab mollitia animi harum placeat, eos officia dolorem.</span>
    </p>
  </div>
</section>