@import '../../../../vars';

:host{
  display: block;
  padding: 50px 0;
  .content-card{
    padding: 5px;
    .card{
      position: relative;
      max-width: 400px;
      margin: auto;
      img{
        max-width: 100%;
        height: auto;
        object-fit: none;
        object-position: 50% 50%;
        transition: all .3s;
        z-index: -1;
      }
      .text-card{
        bottom: 15px;
        left: 15px;
        position: absolute;
        z-index: 9;
        max-width: 55%;
        h5{
          color: #ffffff;
          font-weight: 400;
          line-height: 1.5em;
          margin: 0;
          text-transform: uppercase;
          &:first-child{
            color: $yellow;
            font-weight: 700;
            font-size: 14px;
          }
        }
        .btn{
          height: 0;
          margin-bottom: 10px;
          margin-top: 5px !important;
          opacity: 0;
          font-size: 0;
          transition: all .2s;
        }
      }
      &::before{
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        content: '';
        height: 98.8%;
        position: absolute;
        transition: all .5s;
        width: 100%;
      }
      &:hover{
        img{
          object-position: 60% 40%;
        }
        &::before{
          opacity: .5;
        }
        .text-card{
          .btn {
            display: inline-block;
            height: initial;
            font-size: initial;
            opacity: 1;
          }
        }
      }
    }
  }
}