<div class="container">
  <div class="blue-title">
    <h5>Servicios</h5>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 content-card" *ngFor="let servicio of servicios">
      <div class="card">
        <img src="{{ servicio.img }}" alt="">
        <div class="text-card">
          <h5>{{ servicio.title | firstWord }}</h5>
          <h5>{{ servicio.title | finalText }}</h5>
          <a routerLink="{{ servicio.id }}" class="btn btn-blue">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
