@import '../../../../vars';
:host{
  app-slider-hero{
    display: none;
  }
  .items-services, .services, .experience-years,.gallery-home, .countdown{
    padding: 50px 0;
  }
  .items-services{
    .item-service{
      padding: 15px;
      max-width: 250px;
      figure{
        img{
          max-height: 80px;
          width: auto;
        }
        figcaption {
          margin-top: 15px;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
  .experience-years {
    .experience-years-image{
      max-height: 250px;
      position: relative;
      margin-bottom: 50px;
      max-width: 300px;
      &::before{
        border: 3px solid $blue;
        content: '';
        height: 100%;
        left: 25%;
        position: absolute;
        transition: all .3s;
        top: 18%;
        width: 85%;
        z-index: -1;
      }
      
      img{
        height: auto;
        width: 300px;
      }
    }
    .experience-years-text{
      margin-top: 15px;
      .years {
        align-items: center;
        border: 3px solid $blue;
        color: $black2;
        display: flex;
        font-size: 60px;
        font-weight: 700;
        height: 75px;
        justify-content: center;
        padding: 10px 5px 5px;
        width: 85px;
      }
      h5{
        padding-left: 15px;
        line-height: 1.2em;
        font-size: 16px;
      }
      .experience-year-description{
        margin: 20px 0;
        p {
          font-size: 13px;
          line-height: 1.2em;
          text-align: justify;
        }
      }
    }
    @include for-tablet-portrait-up {
      margin-left: 50px;
      .experience-years-text{
        margin-left: 35px;
        .years{
          h5{
            padding: 10px;
          }
        }
        .experience-year-description{
          padding-left: 20px;
          p{
            text-align: left;
          }
        }
      }
    }
  }
  .gallery-home{
    .gallery-home-item{
      .gallery-home-item-img {
        max-height: 300px;
        position: relative;
        &::before{
          background-color: $blue;
          content: '';
          height: 0;
          left: 0;
          opacity: 0;
          position: absolute;
          bottom: 0;
          width: 100%;
          transition: all .3s;
        }
        img{
          height: auto;
          object-fit: cover;
          width: 100%;
          max-height: 300px;
          min-height: 300px;
        }
      }
      .gallery-home-item-text{
        background-color: $blue;
        color: #ffffff;
        height: 300px;
        padding: 30px;
        width: 100%;
        h4{
          font-size: 20px;
          font-weight: 300;
          line-height: 1em;
          padding-bottom: 10px;
          text-transform: uppercase;
        }
        p{
          font-size: 12px;
          margin-bottom: 15px;
        }
      }
      &:hover {
        .gallery-home-item-img{
          &::before{
            height: 100%;
            opacity: .6;
          }
        }
      }
      &:nth-child(2){
        .gallery-home-item-img{
          &::before {
            top: 0;
            background-color: $blue3;
          }
        }
        .gallery-home-item-text{
          background-color: $blue3;
        }
      }
      @include for-desktop-up {
        .gallery-home-item-img {
          max-height: 250px;
          img {
            max-height: 250px;
            min-height: 250px;
          }
        }
        .gallery-home-item-text{
          height: 250px;
        }
      }
    }
  }

  .services {
    background-color: #f1f1f1;
    margin: 100px 0;
    padding: 30px;
    width: calc(100% - 60px);

    .text-title-services{
      padding-top: 15px;
      padding-left: 15px;
      .blue-title{
        margin-left: 0;
        margin-bottom: 0;
      }
      h4 {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        padding-top: 10px;
      }
      .text-ribbon{
        background-color: $blue;
        border: 1px solid $blue;
        color: #ffffff;
        display: block;
        font-size: 14px;
        max-width: max-content;
        margin-top: 30px;
        padding: 2px 10px;
        position: relative;
        transition: all .3s;
        &:hover{
          color: $blue;
          background-color: transparent;
        }
      }
      @include for-tablet-portrait-up {
        padding-left: 20%;
        width: 60%;
        .text-ribbon {
          margin-top: 50px;
        }
      }
    }
    .content-card-service{
      margin: 30px 0;
    }
  }
}