<section class="home">
  <div class="container">
    <div class="items-services">
      <div class="row center-xs top-xs">
        <div class="col-xs-6 col-md-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-hand.svg" alt="Reparación y mantenimiento">
            <figcaption>Reparación y mantenimiento</figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-gear.svg" alt="Asesoría para adquisición de equipos">
            <figcaption>Asesoría para adquisición de equipos</figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-warning-machine.svg" alt="Alquiler para atención de contingencias">
            <figcaption>Alquiler para atención de contingencias</figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-location-servic.svg" alt="Servicio técnico en campo">
            <figcaption>Servicio técnico en campo</figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-motor.svg" alt="Motores">
            <figcaption>Motores</figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-training.svg" alt="Capacitaciones">
            <figcaption>Capacitaciones</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="experience-years">
      <div class="row center-xs">
        <div class="col-xs-12 col-md-4 col-sm-offset-1 experience-years-image">
          <img src="../../../../assets/images/pictures/experiencia.png" alt="Experiencia">
        </div>
        <div class="col-xs-10 col-md-4 experience-years-text">
          <div class="row middle-xs center-xs start-md">
            <div class="col-xs-6 col-md-4 row end-xs center-md">
              <div class="years"> 57 </div>
            </div>
            <div class="col-xs-6 col-md-8 row start-xs">
              <h5>Años de <br> experiencia en el <br> Sector Eléctrico</h5>
            </div>
          </div>
          <div class="experience-year-description row start-xs">
            <p>
              Industrias Explorer nace en el año de 1962 en la ciudad de Duitama, Boyacá, Colombia, como una microempresa dedicada a la reparación de motores eléctricos para varias industrias de la región. Dados los nuevos requerimientos por parte de las empresas cliente, como Acerías Paz del Río, Bavaria, Cementos Boyacá, Cementos Paz del Río, Siderúrgica de Boyacá y Maguncia, entre otras.
            </p>
            <a class="btn btn-white" href="#">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery-home">
    <div class="row">
      <div class="col-xs-12 col-md-4 gallery-home-item row">
        <div class="col-xs-12 gallery-home-item-img">
          <img src="../../../../assets/images/pictures/sustentable.jpg" alt="Empresa sustentable">
        </div>
        <div class="gallery-home-item-text row middle-xs">
          <div>
            <h4>Somos una empresa sustentable</h4>
            <p>Certificado que lo acredita como una de las 1900 firmas
              en el mundo que dedica sus actividades al mejoramiento
              del sector eléctrico</p>
            <a class="btn btn-blue" href="#">Ver más</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 gallery-home-item row">
        <div class="gallery-home-item-text row middle-xs">
          <div>
            <h4>Reconocimiento como miembro activo EASA.</h4>
            <p>Certificado que lo acredita como una de las 1900 firmas en
              el mundo que dedica sus actividades al mejoramiento del
              sector eléctrico</p>
              <a class="btn btn-blue-2" href="#">Ver más</a>
          </div>
        </div>
        <div class="col-xs-12 gallery-home-item-img first-xs last-md">
          <img src="../../../../assets/images/pictures/instalaciones.png" alt="Miembro activo easa">
        </div>
      </div>
      <div class="col-xs-12 col-md-4 gallery-home-item row">
        <div class="col-xs-12 gallery-home-item-img">
          <img src="../../../../assets/images/pictures/nueva-planta.jpg" alt="Nueva planta">
        </div>
        <div class="gallery-home-item-text row middle-xs">
          <div>
            <h4>Nueva planta</h4>
            <p>Cuenta con un área de 100 m² aproximadamente.
              Está dotado con equipos de prueba de última
              tecnología,verificados y calibrados continuamente
              para ejecutar pruebas de diagnóstico a
              transformadores y motores de potencia en sitio y
              en planta Industrias Explorer empleando los
              lineamientos de los estándares nacionales e
              internacionales NTC, IEC, IEEE, ASTMD.</p>
            <a class="btn btn-blue" href="#">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <app-counter></app-counter>
  </div>
  <div class="services">
    <div class="row">
      <div class="col-xs-12 col-sm-4 row">
        <div class="text-title-services">
          <div class="blue-title">
            <h5>Servicios</h5>
          </div>
          <h4>Trabajamos bajo los más altos estandares de calidad</h4>
          <a href="#" class="text-ribbon">
            Todos los servicios
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 content-card-service">
        <app-card-service></app-card-service>
      </div>
    </div>
  </div>
  <app-slide-customers></app-slide-customers>
</section>