<section class="home">
  <div class="container">
    <div class="items-services">
      <div class="row center-xs top-xs">
        <div class="col-xs-6 col-md-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-hand.svg" alt="Reparación y mantenimiento">
            <figcaption>Reparación y mantenimiento</figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-gear.svg" alt="Asesoría para adquisición de equipos">
            <figcaption>Asesoría para adquisición de equipos</figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-warning-machine.svg" alt="Alquiler para atención de contingencias">
            <figcaption>Alquiler para atención de contingencias</figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-location-servic.svg" alt="Servicio técnico en campo">
            <figcaption>Servicio técnico en campo</figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-motor.svg" alt="Motores">
            <figcaption>Motores</figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2 item-service">
          <figure>
            <img src="../../../../assets/images/icons/icon-training.svg" alt="Capacitaciones">
            <figcaption>Capacitaciones</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="experience-years">
      <div class="row center-xs">
        <div class="col-xs-12 col-md-4 col-sm-offset-1 experience-years-image">
          <img src="../../../../assets/images/pictures/experiencia.png" alt="Experiencia">
        </div>
        <div class="col-xs-10 col-md-4 experience-years-text">
          <div class="row middle-xs center-xs start-md">
            <div class="col-xs-6 col-md-4 row end-xs center-md">
              <div class="years"> 57 </div>
            </div>
            <div class="col-xs-6 col-md-8 row start-xs">
              <h5>Años de <br> experiencia en el <br> Sector Eléctrico</h5>
            </div>
          </div>
          <div class="experience-year-description row start-xs">
            <p>
              Industrias Explorer nace en el año de 1962 en la ciudad de Duitama, Boyacá, Colombia, como una microempresa dedicada a la reparación de motores eléctricos para varias industrias de la región. Dados los nuevos requerimientos por parte de las empresas cliente, como Acerías Paz del Río, Bavaria, Cementos Boyacá, Cementos Paz del Río, Siderúrgica de Boyacá y Maguncia, entre otras.
            </p>
            <a class="btn btn-white" routerLink="/historia">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery-home">
    <div class="row">
      <div class="col-xs-12 col-md-4 gallery-home-item row" *ngFor="let post of posts | async; let i = index">
        <div class="col-xs-12 gallery-home-item-img" [ngClass]="{'first-xs last-md' : i === 1 || i === 4 || i === 7 || i === 10}">
          <img [src]="post['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['full'].source_url" alt="{{ post.title.rendered }}
          ">
        </div>
        <div class="gallery-home-item-text row middle-xs">
          <div>
            <h4>{{ post.title.rendered }}</h4>
            <div class="content-text" [innerHTML]="post.excerpt.rendered"></div>
            <a class="btn btn-blue" routerLink="/blog/{{ post.slug }}">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <app-counter></app-counter>
  </div>
  <div class="services">
    <div class="row">
      <div class="col-xs-12 col-sm-4 row">
        <div class="text-title-services">
          <div class="blue-title">
            <h5>Servicios</h5>
          </div>
          <h4>Trabajamos bajo los más altos estandares de calidad</h4>
          <a routerLink="/servicios" class="btn-ribbon">
            Todos los servicios
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 content-card-service">
        <app-card-service></app-card-service>
      </div>
    </div>
  </div>
  <app-slide-customers></app-slide-customers>
</section>
