<div class="container">
  <div class="page">
    <div class="blue-title">
      <h5>Eventos</h5>
    </div>
    <div class="events-page">
      <div class="row start-xs middle-xs">
        <div class="col-xs-12 item-event" *ngFor="let event of events">
          <div class="row center-xs start-sm between-sm">
            <div class="col-xs-12 col-sm-3">
              <div *ngIf="event.image" class="image-content">
                <img src="{{ event.image }}" alt="{{ event.title }}">
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="text-content">
                <h4>{{ event.title }}</h4>
                <strong>Día: {{ event.date_start | date:'shortDate' }}</strong> -
                <strong>Hora: {{ event.date_start | date:'shortTime' }}</strong> -
                <strong>Lugar: {{ event.location }}</strong>
                <div class="no-padding" [innerHTML]="event.description"></div>
                <a routerLink="{{ event.title | normalizedUrl }}" class="btn btn-white">Leer más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
