@import '../../../../vars';

:host{
  .page{
    .blue-title{
      padding-left: 15px;
      h5 {
        text-transform: capitalize;
      }
    }
    .img-service-content{
      background-position: center !important;
      background-size: cover !important;
      height: 40vh;
      margin: auto;
      width: calc(100% - 60px);
    }
  }
}
::ng-deep {
  .page {
    ul {
      padding-left: 50px;
      li {
        list-style: initial;
      }
    }
  }
}
