<section class="container">
  <div class="page">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis minus at, aliquid amet similique numquam dolores ducimus itaque debitis ea assumenda praesentium magnam corrupti blanditiis tempore sint aliquam officiis. Dolores.
      Sint numquam cumque temporibus non distinctio obcaecati ab quae est minus? Provident sint, error sed sunt dolorem neque beatae ipsam molestias assumenda dolores qui? Impedit voluptatum inventore ratione animi ipsa!
      Molestias nemo at pariatur accusantium quis ipsam atque illo tempore quos porro dolor officiis reiciendis deleniti iusto ut, beatae eius totam autem? Eius esse mollitia cum. Dolorem, alias. Consequatur, quaerat.
      Temporibus libero maiores sint quia. Modi ipsam, unde provident dolorem quo, non repudiandae placeat facilis neque nobis nisi! Magni nesciunt nostrum modi ex exercitationem reiciendis amet deleniti quisquam molestiae et!
      Error consequatur ipsum at, ratione excepturi ex? Atque rerum aliquid enim quis veritatis optio natus dignissimos architecto veniam. Velit, consectetur perferendis unde veritatis qui perspiciatis quae quas expedita quaerat. Optio.
      Nobis odio iste molestias assumenda ipsum impedit quos repellat velit dolor, dicta nemo deserunt quibusdam hic, dolores magnam culpa blanditiis? Vitae tempora assumenda numquam ducimus, quaerat vel atque rerum fugit!
      Iusto dignissimos quaerat laboriosam atque sint ab! Fugiat temporibus maiores voluptatibus dolorem nesciunt dolorum quasi porro doloribus aliquam dicta ullam eos nihil commodi, tenetur voluptates repellat nisi, sapiente, velit atque.
      Facilis neque quis commodi ipsa, similique voluptas facere quia totam! Iure quaerat, at voluptate dicta nobis debitis perferendis accusamus neque modi voluptates dolor distinctio sequi fugiat officia et maxime autem?
      Eius unde officiis impedit repellat, at inventore magni enim nulla sequi amet fugiat quia velit necessitatibus voluptatibus sapiente. Libero aliquid amet nemo quos fuga distinctio iusto, dolor molestiae nobis nostrum.
      Nobis labore culpa animi, obcaecati autem ut cumque, totam, nesciunt nisi sit perspiciatis itaque soluta possimus? Explicabo nulla expedita, aut amet officiis quisquam tempore ea dolore, fugiat ut in ex?
    </p>
  </div>
</section>
<div class="banner-parallax" [ngStyle]="{background: 'url(../../../../assets/images/parallax/historia-1.png)'}"></div>
<section class="container">
  <div class="page">
    <p>
      <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime velit tenetur dolore dolorem earum doloremque iure repellat aliquid, sequi voluptatum. Odit est, assumenda sunt fugit soluta expedita harum nobis amet.</span>
      <span>Esse mollitia fugit nisi dicta sint ex perferendis facere aut iusto saepe temporibus ratione amet ipsa obcaecati, vero facilis quo ducimus culpa neque fugiat nemo incidunt nobis error doloribus! Quidem.</span>
      <span>Quidem est molestias porro animi ratione saepe dolor vitae dolorum corporis architecto! Laudantium eveniet tenetur, quod nostrum cum accusantium ut labore laborum adipisci, exercitationem nemo, qui debitis quo consequuntur tempora.</span>
      <span>Deserunt autem nam accusamus quam molestiae itaque quod cum excepturi veritatis. Harum amet sunt blanditiis sit quidem, voluptate fuga, quasi itaque obcaecati laboriosam enim? Officia ipsa quae accusamus nesciunt illum!</span>
      <span>Ea quia nemo suscipit, placeat veniam distinctio consequatur fuga libero omnis quasi, ullam, cum iste rerum? Itaque commodi corporis odit libero aliquid ab mollitia animi harum placeat, eos officia dolorem.</span>
    </p>
  </div>
</section>