<app-loader [load]="!aboutModel"></app-loader>
<div *ngIf="aboutModel">
  <section class="container" >
    <div class="page" [innerHTML]="aboutModel.mainContent"></div>
  </section>
  <div class="banner-parallax" [ngStyle]="{background: 'url('+aboutModel.imageParallax + ')'}"></div>
  <section class="container">
    <div class="page">
      <p [innerHTML]="aboutModel.content1"></p>
    </div>
  </section>
  <div class="banner-parallax" *ngIf="aboutModel.imageParallax2"
       [ngStyle]="{background: 'url('+aboutModel.imageParallax2 + ')'}"></div>
  <section class="container" *ngIf="aboutModel.content2">
    <div class="page">
      <p [innerHTML]="aboutModel.content2"></p>
    </div>
  </section>
</div>
